.font{
    font-weight: 600;
}

.collected{
    @extend .font;
    background: rgba(0, 255, 21, 0.15);
    color: rgb(22,163,74);
}

.pending{
    @extend .font;
    background: rgba(255, 0, 0, 0.15);
    color: rgb(220, 38, 38);
}

.default{
    @extend .font;
    background: rgba(147, 197, 253, 0.20);
    color: rgb(0, 110, 255);
}