.accordionItem {
    border-radius: 20px 20px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2509803922);
    padding: 0 1.5rem;
    margin: 10px 0px;
    font-size: 20px;
}

.accordionItem:hover {
    background-color: rgb(234, 233, 222, 0.3);
}

.buttonsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    margin-top: 8px;
    padding: 0 8px;
    gap: 16px;
}

.deleteButton {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 120px;
    align-items: center;
    color: rgb(204, 62, 51);
    border-color: transparent;
    background-color: rgb(243, 245, 247);
    padding: 8px 16px;
    border-radius: 6px;
    white-space: nowrap;
    gap: 8px;
}

.deleteButton:hover {
    background-color: #fecaca;
}

.editButton {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 120px;
    align-items: center;
    color: rgb(26, 39, 50);
    border-color: transparent;
    background-color: rgb(243, 245, 247);
    padding: 8px 16px;
    border-radius: 6px;
    white-space: nowrap;
    gap: 8px;
}

.editButton:hover {
    background-color: #e7e5e4;
}

.addButton {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 120px;
    color: rgb(34, 197, 94);
    /* A green color to represent adding */
    border-color: transparent;
    background-color: rgb(243, 245, 247);
    padding: 8px 16px;
    border-radius: 6px;
    white-space: nowrap;
    gap: 8px;
}

.addButton:hover {
    background-color: #d1fae5;
    /* Light green background on hover */
}

.buttonGroupLabel {
    font-size: 16px;
    /* Adjusts the font size to be slightly smaller than the buttons */
    font-weight: bold;
    /* Makes the text bold */
    margin-bottom: 8px;
    /* Adds some space between the label and the buttons */
    color: rgb(26, 39, 50);
    /* Matches the color of the text in the edit button */
}