.container{
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
}

.hidden{
    display: none;
}

.alert{
    font-size: 34px;
    font-weight: 800;
    text-align: center;
}

.text{
    font-size: 24px;
    font-weight: 400;
    text-align: center;
}

.button{
    display: flex;
    align-items: center;
    font-size: 1rem;
    border-radius: 12px;
    height: 36px;
    padding: 8px 16px;
    text-wrap: nowrap;
    font-weight: 600;
    font-style: normal;
    border: 2px solid rgba(146, 59, 48);
    margin: 5px;
    transition: ease 0.5s;
    background: linear-gradient(to left, white 50%, rgb(234, 233, 222) 50%) right;
    background-size: 200% 100%;
}

.button:hover{
    background-color: white;
    background-position: left;
}