.newLabel{
    font-size: 0.975rem;
    line-height: 1.25rem;
    font-weight: 700;
    font-style: normal;
    margin-top: 1em;
    margin-bottom: 1em;
    padding: 0px;
    color: rgb(39, 53, 65);
    text-transform: none;
    margin-right: 8px;
}