.html {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
    height: -webkit-fill-available;
    min-width: 490px;
}

.body {
    height: -webkit-fill-available;
}

.html::-webkit-scrollbar {
    display: none;
}

.mainContent {
    display: flex;
    /* flex */
    min-height: -webkit-fill-available;
    height: -webkit-fill-available;
    /* min-h-screen */
    flex-direction: column;
    /* flex-col */
    padding: 1rem;
    /* p-6 */
}
/* Hide scrollbar for Chrome, Safari and Opera */
.noScrollbar::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.noScrollbar {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

.loginButton {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    font-size: 18px;
    gap: 5px;
    color: #ffffff;
    border: 2px solid rgba(146, 59, 48);
    background: rgba(146, 59, 48);
    padding: 5px 15px;
    border-radius: 50px;
    min-width: 120px;
    width: fit-content;
}

.loginButton:hover {
    color: rgba(146, 59, 48);
    background: #ffffff;
}