.accordionItem{
    border-radius: 20px 20px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2509803922);
    padding: 0 1.5rem;
    margin: 10px 0px;
    font-size: 20px;
}

.trigger{
    justify-content: space-between;
}

.infoContainer{
    display: flex;
    justify-content: space-between;
    width: -webkit-fill-available;
    padding: 0px 8px;
}

.accordionItem:hover{
    background-color: rgb(244, 243, 232, 0.3);
}

.buttonsContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    margin-top: 8px;
    padding: 0 8px;
    gap: 16px;
}

.deleteButton{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    align-items: center;
    color: rgb(204, 62, 51);
    border-color: transparent;
    background-color: rgb(243, 245, 247);
    padding: 8px 16px;
    border-radius: 6px;
    white-space: nowrap;
    gap: 8px;
}
.deleteButton:hover{
    background-color: #fecaca;
}

.editButton{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    align-items: center;
    color: rgb(26, 39, 50);
    border-color: transparent;
    background-color: rgb(243, 245, 247);
    padding: 8px 16px;
    border-radius: 6px;
    white-space: nowrap;
    gap: 8px;
}

.editButton:hover{
    background-color: #e7e5e4;
}